.gradle
build/
backend/.gradle/
backend/build/
backend/modules/**/build/
frontend/node_modules/
frontend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Local configuration ###
# Hassas bilgiler (şifre vb.) içerdiği için yerel yml dosyalarını hariç tutuyoruz.
# Diğer geliştiriciler için application.yml.example dosyası referans olarak bırakılmıştır.
backend/modules/03-application/src/main/resources/application.yml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
