root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4
ij_continuation_indent_size = 4
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = false
ij_wrap_on_typing = false

[*.java]
indent_style = space
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_around_class = 1
ij_java_blank_lines_around_method = 1
ij_java_block_brace_style = end_of_line
ij_java_class_brace_style = end_of_line
ij_java_else_on_new_line = true
ij_java_catch_on_new_line = true
ij_java_finally_on_new_line = true
ij_java_method_brace_style = end_of_line
ij_java_space_after_comma = true
ij_java_space_before_class_left_brace = true
ij_java_space_before_method_left_brace = true
ij_java_space_before_if_parentheses = true
ij_java_use_single_class_imports = true
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999

[{*.gradle.kts,*.kt,*.kts}]
indent_style = space
ij_kotlin_align_multiline_parameters = true
ij_kotlin_catch_on_new_line = false
ij_kotlin_else_on_new_line = false
ij_kotlin_finally_on_new_line = false
ij_kotlin_import_nested_classes = false
ij_kotlin_name_count_to_use_star_import = 5
ij_kotlin_name_count_to_use_star_import_for_members = 3

[{*.json,*.har}]
indent_size = 2
ij_json_space_after_colon = true
ij_json_space_after_comma = true

[{*.yaml,*.yml}]
indent_size = 2
indent_style = space

[{*.xml,*.pom,*.fxml}]
indent_size = 4
indent_style = space
ij_xml_align_attributes = true

[{*.sh,*.bash,*.zsh}]
indent_size = 2
indent_style = space

[.editorconfig]
ij_editorconfig_space_after_colon = false
ij_editorconfig_space_after_comma = true
